# 네트워크 포트 및 엔트리포인트 구성
# 엔트리포인트는 들어오는 트래픽을 위한 네트워크 리스너입니다.
ports:
  # 'web'이라는 이름의 HTTP 엔트리포인트 정의
  web:
    port: 80
    nodePort: 30000
    # 이 엔트리포인트의 모든 트래픽을 'websecure' 엔트리포인트로 리다이렉트하도록 지시
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true

  # 'websecure'라는 이름의 HTTPS 엔트리포인트 정의
  websecure:
    port: 443
    nodePort: 30001

# 보안 모드에서 대시보드 활성화
api:
  dashboard: true
  insecure: false

ingressRoute:
  dashboard:
    enabled: true
    matchRule: Host(`dashboard.docker.localhost`)
    entryPoints:
      - websecure
    middlewares:
      - name: dashboard-auth

# 대시보드 보안을 위한 BasicAuth 미들웨어 및 시크릿 생성
extraObjects:
  - apiVersion: v1
    kind: Secret
    metadata:
      name: dashboard-auth-secret
    type: kubernetes.io/basic-auth
    stringData:
      username: admin
      password: "Test1234" # 실제 비밀번호로 교체하세요
  - apiVersion: traefik.io/v1alpha1
    kind: Middleware
    metadata:
      name: dashboard-auth
    spec:
      basicAuth:
        secret: dashboard-auth-secret

# 대신 Gateway API로 라우팅합니다.
ingressClass:
  enabled: true
  
# Gateway API 프로바이더 활성화 및 KubernetesIngress 프로바이더 활성화
# 프로바이더는 Traefik에 라우팅 설정을 찾을 위치를 알려줍니다.
providers:
  kubernetesIngress:
    enabled: true
  kubernetesGateway:
    enabled: true

## 게이트웨이 리스너
gateway:
  listeners:
    web: # 엔트리포인트 `web`과 일치하는 HTTP 리스너
      port: 80
      protocol: HTTP
      namespacePolicy:
        from: All
    websecure: # 엔트리포인트 `websecure`와 일치하는 HTTPS 리스너
      port: 443
      protocol: HTTPS # TLS는 Traefik 내부에서 종료됨
      namespacePolicy:
        from: All
      mode: Terminate
      certificateRefs:
        - kind: Secret
          name: local-selfsigned-tls # 설치 전 생성한 시크릿
          group: ""

# 관측성(Observability) 활성화
logs:
  general:
    level: INFO
  # 액세스 로그를 활성화하여 기본적으로 Traefik의 표준 출력으로 내보냅니다.
  access:
    enabled: true

# 메트릭을 위한 Prometheus 활성화
metrics:
  prometheus:
    enabled: true