# Kubernetes
*.kubeconfig
.kube/
*.log

# Helm
*.lock
*.tgz
charts/

# OS & Editor
.DS_Store
.idea/
.vscode/
*.swp

# Terraform (if used later)
.terraform/
*.tfstate
*.tfstate.backup

# Python/Node (if used for apps)
__pycache__/
*.pyc
node_modules/
dist/
build/
ckad-mockup/tool-v2.tar
ckad-mockup/Dockerfile
ckad-mockup/old-deploy.yaml
